{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "destructuring": true,
    "spread": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "brace-style": [2, "stroustrup"],
    "max-len": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-return-assign": 0,
    "no-unused-expressions": 0,
    "no-var": 0,
    "quote-props": [2, "consistent"],
    "react/jsx-no-bind": 0,
    "react/no-multi-comp": 0,
    "react/prefer-es6-class": 0,
    "react/sort-comp": 0,
    "vars-on-top": 0
  }
}
